main .form form .image-choice .radio-wrapper {
    display: inline-block;
    border-bottom: 2px solid #ccc;
    margin-left: 20px;
}

@keyframes zoop {
    from { display: inline-block; }
    to { transform: scaleX(0.5); scaleY(0.5); opacity: 0;}
}

.radio-group-wrapper.image-choice:has(input:checked) label{
    display: none;
    animation: zoop 200ms;
}

main .form form .image-choice.radio-group-wrapper .radio-wrapper:has(>input:checked) {
    border-bottom: 2px solid #000;
    transition: border-color 1s linear;
    display: inline-block;
}

.image-choice .radio-wrapper input {
    display: none;
}

.image-choice .radio-wrapper input:checked +label {
    display: inline-block;
}

.image-choice .radio-wrapper label {
    cursor: pointer;
}

.image-choice .radio-wrapper label img {
    height: 178px;
    display: block;
}

