main .form form .image-choice .radio-wrapper {
    display: inline-block;
    border-bottom: 2px solid #ccc;
    margin-left: 20px;
}

main .form form .image-choice .radio-wrapper:has(>input:checked) {
    border-bottom: 2px solid #000;
    animation: border_anim 3s linear forwards;
}

@keyframes border_anim {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.image-choice .radio-wrapper input {
    display: none;
}

.image-choice .radio-wrapper input:checked +label {
    display: none;
}

.image-choice .radio-wrapper label {
    cursor: pointer;
}

.image-choice .radio-wrapper label img {
    height: 178px;
    display: block;
}

